@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1726;
}

img {
    max-width: 100%;
}

.container { 
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("1.mp4/sati-fa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ff5a2c;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase; 
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color:#ff5a2c;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

video {
    background-size: cover;
    display: flex;
    margin: auto;
     
}

h2{
    color: white;
    font-size: 35px;
    margin-bottom: 45px;
    padding: 20px 0;
}

.Animes-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.Animes-1 {
    background-color: #2a223a;
  
}

.anime-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #ff5a2c;
    font-weight: bold;
}

.btn-2 {
    padding: 5px 25px;
    background-color: #ff5a2c;
    margin-right: 0;
}


.contact {
    padding: 150px 30px;

}

.contact-container { 
    background-color: #2a223a;
    text-align: center;
    padding: 50px; 
    border-radius: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.link ul {
    display: flex;
}

.link ul li > a {
    font-size: 20px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}

.link ul li > a:hover {
    color: #ff5a2c;
}



@media(max-width:991px){

    .menu {
        padding: 20px;
    }
    
    .menu label {
        display: initial;
    }
    
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff5a2c;
        display: none;
    }
    
    .menu .navbar ul li a:hover {
        color: #1b1726;
    }
    
    .menu .navbar ul li {
        width: 100%;
    }
        
    #menu:checked ~ .navbar {
        display: initial;
    }

    video {
       margin: auto;    
    }
    
    .Animes { 
        padding: 30px;
    }

    .Animes-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .Animes-1 img {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        text-align: center;

    }
    
    .link ul {
        margin-top: 20px;
    }

}   
